<h2 class="page-header">Pretrazi proizvodjace</h2>
<form action="/proizvodjaci" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Ime</label>
            <input type="text" name="name" value="<%= searchOptions.name %> ">
        </div>
        
    </div>
    <div class="form-row form-row-end">
        <button class="btn btn-primary" type="submit">Pretrazi</button>
    </div>


</form>
<br>
<% proizvodjaci.forEach(proizvodjac => { %>
    <div> <%= proizvodjac.name %> 
    <div class="btn-row">
    <a class="btn btn-primary" href="/proizvodjaci/<%= proizvodjac.id %> ">Prikazi</a>
    <a class="btn btn-primary" href="/proizvodjaci/<%= proizvodjac.id %>/edit">Izmeni</a>

    <%- include('../partials/deleteForm', 
        { url: `/proizvodjaci/${proizvodjac.id}`}) %> 

    <!-- <form method="POST" action="/proizvodjaci/<%= proizvodjac.id %>?_method=DELETE ">
        <button type="submit">Izbrisi</button>
    </form> -->
</div>
<% }) %>  
